<h1><%= @user.username %>'s Page</h1>
<ul>
  <li>Username: <%= @user.username %></li>
  <li>Email: <%= mail_to @user.email %></li><br>
</ul>
  <div class="card">
    <p><%= @user.username %>'s ideas:</p>
    <% if @user.ideas.empty? %>
    <p><%= @user.username %> has no ideas!</p>
    <% else %>
    <% @user.ideas.each do |idea| %>
    <% if idea.images.empty? %>
    <p>there are no images for this idea</p>
    <% else %>
    <a><%= image_tag idea.images.first.url %></a>
    <% end %>
    <div>
      <p>Idea title:</p>
      <span><%= link_to idea.title, user_idea_path(@user, idea) %></span>
    </div>
    <div>
      <span><%= idea.title %></span>
      <p><%= idea.body %></p>
    </div>
    <% end %>
    <% end %>
  </div>
    <br>

  <%= link_to "Create A New Idea", new_user_idea_path(@user), class: "new-idea" %>

  <% if @user.id == session[:user_id] || @user.admin %>
  <div class="user-edit-container">
    <%= link_to "Edit User", edit_user_path(@user) %>
    <%= link_to "Delete User", user_path(@user), method: 'delete' %>
  </div>
  <% end %><br><br>
