<!DOCTYPE html>
<html>
  <head>
    <title>IdeaBox</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <main>
    <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: name %>
    <% end %>
    <% @user = User.find_by(id: session[:user_id]) %>
    <ul class="navigation">
      <% if @user.nil? %>
      <li><%= link_to "log in", login_path %></li>
      <% elsif session[:user_id] != nil %>
      <% if @user.admin? %>
      <li><%= link_to "profile", admin_user_path(session[:user_id]) %></li>
      <li><%= link_to "ideas", admin_ideas_path(session[:user_id]) %></li>
      <li><%= link_to "categories", admin_categories_path(session[:user_id]) %></li>
      <li><%= link_to "admin dashboard", dashboard_path %></li>
      <% else %>
      <li><%= link_to "profile", user_path(session[:user_id]) %></li>
      <li><%= link_to "ideas", user_ideas_path(session[:user_id]) %></li>
      <% end %>
      <% end %>
    </ul>
    <div>
      <ul>
        <% if session[:user_id] %>
        <li class="logout"><%= link_to "logout", logout_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>
    <%= yield %>
  </main>
  <nav>
  </body>
</html>
